.titleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: solid 3px #04838f;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    .number {
        font-weight: bold;
    }
}