
<div class="container">
    <h2 class="homeWelcomeText">Welcome to this application including information concerning the latest Olympic Games.</h2>
    <h2 class="homeWelcomeText">For more information on a country, click on the graph to go to the country detail page.</h2>
    <h2 class="homeTitle">Medals per Country</h2>
    <div class="header">
        <app-statisticscommon [title]="'Number of JO\'s'" [detail]="numberOfJO"></app-statisticscommon>
        <app-statisticscommon [title]="'Number of Entries'" [detail]="totalCountries"></app-statisticscommon>
    </div>
    <ngx-charts-pie-chart
    (window:resize)="onResize($event)"
    [results]="results"
    [view]="view"
    [labels]="showLabels"
    [maxLabelLength]="maxLabelLength"
    [labelFormatting]="labelFormatting"
    (select)="onSelect($event)" class="pieChart">

    </ngx-charts-pie-chart>
</div>
