
<div class="container">
    <h2 class="homeWelcomeText">Welcome to this application including information concerning the latest Olympic Games.</h2>
    <h2 class="homeWelcomeText">For more information on a country, click on the graph to go to the country detail page.</h2>
    <h2 class="homeTitle">Medals per Country</h2>
    <div class="header">
        <div class="titleContainer">
            <span>Number of JO's</span>
            <span class="number">{{numberOfJO}}</span>
        </div>
        <div class="titleContainer">
            <span>Number of countries</span>
            <span class="number">{{totalCountries}}</span>
        </div>
    </div>
    <ngx-charts-pie-chart
    (window:resize)="onResize($event)"
    [results]="results"
    [view]="view"
    [labels]="showLabels"
    [maxLabelLength]="maxLabelLength"
    [labelFormatting]="labelFormatting"
    (select)="onSelect($event)" class="pieChart">

    </ngx-charts-pie-chart>
</div>
